html,
body {
  height: 100%;
  width:  100%;
}

body {
  font-family: monospace,monospace;
  font-size:   1em;
}

div.input_area {
  width: 68%;
  height: 100%;
  overflow-y: auto;
  margin-left: 1vw;
}
div.input {
  width: 100%;
}

div.output_area {
  float:right;
  height: 100%;
  width: 28%;
  padding: 0.5em;
  height: 100%;
  overflow-y: auto;
  margin-right: 1vw;
  
}
div.output {
  height: 100%;
  width: 100%;
  background-color: #333333;
}


h2 {
  font-size:     1.5em;
  line-height:   1em;
  margin-left:    0.5em;
  margin-top:    0.5em;
  margin-bottom: 0.5em;
  color:         #ffffff;
}
div.head {
  height: 3em;
  background-color: #666666;
  overflow:hidden;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

div.stage {
  height:   3em;
  overflow: hidden;
  margin-top: 0.75em;
  margin-top: 0.5em;
}

div.stage.expanded {
  height:   auto;
}

input {
  border:           none; /* 1px solid #dddddd; */
  font-family:      monospace,monospace;
  font-size:        1em;
  background-color: #fcfcfc;
  text-align:       left;
  padding-left:     5px;
  padding-right:    5px;
  border-radius:    0.4em;
  width:            150px;
  min-width:        30px;
}



input:focus {
    outline-width:    0;
    background-color: #ffffcc;
    border-color:     #ddddaa;
}

div.submit {
  float: right;
  background-color: #666666;
  padding: 0.5em 1em;
  color: #ffffff;
  cursor: pointer;
  /*margin-top:0.5em;
  margin-left:0.5em;
  margin-right:-0.5em;
  margin-bottom:-0.5em;*/
}
